<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Eliminar los usuarios</h1>
    <form action="/user/delete/<%=  user[0]['id'] %>" method="POST">
        <h2>Deseas Eliminar este usuario? <%=  user[0]['name'] %></h2>
        <a id="btn-update" href="/user/all">Cancelar</a>
        
        <input id="btn-delete" type="submit" value="Si, Eliminar">
    </form>
</body>
</html>